.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.worldWar {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  height: 400px;
  background-color: rgb(198 198 198);
  border: solid 5px;
  border-color: rgb(255 255 255) rgb(128 128 128) rgb(128 128 128) rgb(255 255 255);
}

.flame {
  display: flex;
  width: 280px;
  height: 62px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: rgb(198 198 198);
  border: solid 5px;
  border-color: rgb(128 128 128) rgb(255 255 255) rgb(255 255 255) rgb(128 128 128);
}

.timer {
  display: inline-block;
  width: 80px;
  height: 42px;
  margin: 5px;
  background-color: rgb(255 255 255);
  border: 3px solid;
  border-color: rgb(128 128 128) rgb(255 255 255) rgb(255 255 255) rgb(128 128 128);
}

.boomNumber {
  display: inline-block;
  width: 80px;
  height: 42px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border: 3px solid;
  border-color: rgb(128 128 128) rgb(255 255 255) rgb(255 255 255) rgb(128 128 128);
}

.smile {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin: 5px 24px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  border: 6px solid;
  border-color: rgb(255 255 255) rgb(128 128 128) rgb(128 128 128) rgb(255 255 255);
}

.smile:active {
  border-color: rgb(128 128 128) rgb(255 255 255) rgb(255 255 255) rgb(128 128 128);
}

.bombMap {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: rgb(198 198 198);
  border: solid 1px;
  border-color: black;
}

.bombMapFlag {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/flag2.png') no-repeat;
}

.stone {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-color: rgb(198 198 198);
  border: 4px solid;
  border-color: rgb(255 255 255) rgb(128 128 128) rgb(128 128 128) rgb(255 255 255);
}

.board {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  height: 280px;
  margin: 15px;
  background-color: rgb(198 198 198);
  border: solid 5px;
  border-color: rgb(128 128 128) rgb(255 255 255) rgb(255 255 255) rgb(128 128 128);
}
